/* page 3 */
.redacted {
  color: transparent;           
  background-color: black;       
  border-radius: 2px;            
  cursor: pointer;
  transition-duration: 1s;
}

/* reveal text */
.redacted.revealed {
  color: inherit;                
  background-color: transparent; 
  transition-duration: 1s;
}


