/* body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.box {
  display: block;
  position: relative;
  left: 0px;
  width: 50px;
  height: 50px;
  background-color: rgb(47, 183, 47);
} */

/* page 3 */
.redacted {
  color: transparent;           
  background-color: black;       
  border-radius: 2px;            
  cursor: pointer;
  transition-duration: 1s;
}

/* reveal text on hover */
.redacted:hover {
  color: inherit;                
  background-color: transparent; 
  transition-duration: 1s;
}


